
<!-- views/partes/footer.ejs -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            Made by David Martos Grande
        </div>
    </div>
</footer>
