<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('partes/head') %>
</head>
 
<body class="container">
 
    <header>
        <%- include('partes/header') %>
    </header>
 
    <main>
       <div id="main-content" class="container">
            <div class="section">
                <h1 class="header center">Biblioteca</h1>
            
                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <p class="center-align light">Bienvenido a la biblioteca de la Universidad Isabel I.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
 
    <footer>
        <%- include('partes/footer') %>
    </footer>
 
</body>
 
</html>
