<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('partes/head') %>
</head>
 
<body class="container">
 
    <header>
        <%- include('partes/header') %>
    </header>
 
    <main>
       <div id="main-content" class="container">
        <table>
            <tbody>
                <tr>
                    <th>Título</th>
                    <th>Persona que ha prestado</th>
                    <th>Fecha de préstamo</th>
                    <th>Fecha de devolución</th>
                    <th>Estado del préstamo</th>
                </tr>
                <tr>
                    <td>SIDI</td>
                    <td>Juan García López</td>
                    <td>11/01/2020</td>
                    <td>21/01/2020</td>
                    <td>En curso</td>
                </tr>
                <tr>
                    <td>REINA ROJA</td>
                    <td>María Gutierrez Val</td>
                    <td>05/01/2020</td>
                    <td>15/01/2020</td>
                    <td>En curso</td>
                </tr>
                <tr>
                    <td>LA CARA NORTE DEL CORAZON</td>
                    <td>Javier Ballestin Gonzalez</td>
                    <td>02/01/2020</td>
                    <td>12/01/2020</td>
                    <td>Finalizado</td>
                </tr>
                <tr>
                    <td>TERRA ALTA</td>
                    <td>Natalia Gómez Ruiz</td>
                    <td>20/12/2019</td>
                    <td>30/12/2019</td>
                    <td>Finalizado</td>
                </tr>
                <tr>
                    <td>LOBA NEGRA</td>
                    <td>Victor Gracia Perez</td>
                    <td>10/12/2019</td>
                    <td>20/12/2019</td>
                    <td>Finalizado</td>
                </tr>
            </tbody>
        </table>
        </div>
    </main>
 
    <footer>
        <%- include('partes/footer') %>
    </footer>
 
</body>
 
</html>